h1 {
    text-align: center;
}

body {
    font-family: Arial;
    background: #f0f0f0;
    padding: 40px;
}

.section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section img {
    width: 200px;
}